{% extends 'base.html' %}
{% block contents %}
{% load static %}
   
<!doctype html>
 
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .title{
        margin-top: 10px;
        margin-left:30px;
      }
      .cont{
        text-align:center;
      }
      input{
        border-radius: 3px;
      }
      .card{
        padding-top: 30px;
      }
    </style>

    
    <!-- Custom styles for this template -->
<main>
    <section class="py-1 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">music</h1>
            <p class="lead text-muted">제가 좋아하는 음악들을 소개합니다</p>
          </div>
        </div>
    </section>
    
  <div class="container px-2 py-2" id="custom-cards">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
          <h2 class="title">ARIANA GRANDE</h2>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
      
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="{% static '노래1.jpg' %}" alt="Bootstrap" width="100" height="100" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                Be Alright
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
          <h2 class="title">TAEYEON</h2>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="{% static '노래2.jpg' %}" alt="Bootstrap" width="100" height="100" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
               candy cane
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
          <h2 class="title">BAEK YERIN</h2>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="{% static '노래3.jpg' %}" alt="Bootstrap" width="100" height="100" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
               Lovegame
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <hr>
  <section class="py-1 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">추천</h1>
        <p class="lead text-muted">좋은 노래를 소개해주세요</p>
      </div>
    </div>
  </section>
  <div class=cont>
    <form action="{% url 'create' %}">
      가수: 
      <input type="text" name="title">
      노래 제목:
      <input type="text" name="description">
      <input class="btn btn-dark" type="submit" value="추천">
    </form>
  </div>

  {% for portfolio in porfolios.all %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{portfolio.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">title</h6>
      <p class="card-text">{{portfolio.description}}</p>
      <a href="{% url 'edit' portfolio.id %}" class="card-link text-muted ">수정</a>
      <a href="{% url 'delete' portfolio.id %}" class="card-link text-muted">삭제</a>
    </div>
  </div>

  {% endfor %}
  <br>
  <hr>
</main>      
 </body>
</html>

{%endblock%}